* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Cormorant', serif;
}
body {
    background-color: #221f1f;
    
}
h1 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.btn {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    transition: transform 0.5s ease;
    display: block;
}

.btn:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
    background-color: #fff;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #000;
    position: sticky;
    top: 0;
    font-size: 1.5rem;
}

/************************************************* Hero Section *******************************/
.hero-section {
    background: linear-gradient(#00000060, #00000050), url(images/75593776_2173127939649171_8844450557209870336_n.jpg);
    background-size: cover;
}

.hero-h1,
.hero-button {
    animation: slide-up 1s ease forwards;
    opacity: 0;
}

.hero-h1 {
    animation-delay: 0.3s;
    text-shadow: #fff 1px 0 3px;
}

.hero-button {
    animation-delay: 0.9s;
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/************************************************* section menus *******************************/

.menu-ex {
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.menu-ex:hover .overlay {
    opacity: 1;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-position: center;
    transition: all 0.5s ease;
}
.menu-ex:hover {
    .bg-image {
        transform: scale(1.05);
    }
}
.menu-span {
    font-family: 'imperial script', cursive;
    font-size: 2.5rem;
}